

/*NAVBAR*/
/*===================================================*/
#mainNavbar {
    background-color: #00629b;
    padding: 8px 0;
}
/*===================================================*/

/*MENU ICON*/
/*===================================================*/
.menu-icon {
    color: #fff;
}
/*===================================================*/


/*NAVLINKS*/
/*===================================================*/
 .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
}

.menus {
    margin-right: 80px;
}
/*===================================================*/


/*NAVLINKS ON HOVERING BEFORE NAVBAR SCROLLED*/
/*===================================================*/
 .navbar-nav .nav-link:hover {
    color: #fff;
    border-bottom: 3px solid #fff;
    padding: 7.5px 7.5px 0;
}
/*===================================================*/


/*NAVLINKS AFTER NAVBAR SCROLLED*/
/*===================================================*/
#mainNavbar.scrolled .navbar-nav .nav-link {
    color: #fff;
}
/*===================================================*/


/*NAVLINKS ON HOVERING BEFORE NAVBAR SCROLLED*/
/*===================================================*/
#mainNavbar.scrolled a.nav-link:hover {
    color: #fff;
    /*border-bottom: 3px solid #fff;*/
    padding: 7px 7.5px 0;
}
/*===================================================*/


/*footer container*/
/*===========================*/
footer {
    padding-bottom: 10px;
    /*text-align: center;*/
    padding-top: 20px;
}

.footer-text {
    /*margin: auto 50px;*/
    font-size: 16px;
    font-weight: 600;
    /*text-align: left;*/
}

.social-icons {
    padding-left: 15px;
    font-size: 18px;
    text-align: center;
}

.copyright, .mail {
    font-size: 16px;
    font-weight: 600;
}



}
/*============================*/



/*NAVBAR*/
/*======================*/
.navbar-brand {
    margin-left: 16px;
}

.navbar-icon {
    margin-right: 16px;
}
/*======================*/


/*RESPONSIVE CSS*/
/*==================================================================*/

@media only screen and (max-width: 1024px) {
    body {
        /*margin: 25px 0 0 !important;*/
    }
    .footer-on-tablet {
        /*display: none;*/
    }
    .searches-list:not(.init){
    /*border: none !important;*/
    line-height: 1;
    }
    /*.w2-second {
        margin-left: 200px !important;
        margin-right: 200px !important;
    }*/
    
}

@media(max-width: 992px) {
    .footer-hidden {
        display: none;
    }
    
    .footer-on-tablet {
        display: none;
    }

    .navbar-nav .nav-link {
        padding: 7.5px 0;
        margin-left: 20px;
    }
    .navbar-nav .nav-link:hover {
        background-color: rgb(248, 249, 250);
        color: #00629b;
        border-bottom: none;
        padding: 7.5px 0;
    }
    #mainNavbar.scrolled .navbar-nav .nav-link:hover {
        background-color: #00629b;
        color: #fff;
        border-bottom: none;
        padding: 7.5px 0;
    }

    .gmap_canvas{
        position:relative;
        height: 150px;
        width: 300px;
    }
    .locate-div {
        width: 33.33%;
        margin-bottom: 20px;
    }
    .locate {
        text-align: center;
    }

    .about-div {
        width: 30% !important;
        text-align: center;
        /*margin: auto 20px;*/
    }
    .about {
        text-align: center;
    }

    iframe {
        height: 100%;
        width: 100%;
    }
    .nav-item {
        width: 0px;
    }

    .navbar-nav .nav-link:hover {
        width: 50px;
        display: inline-block !important;
        color: #fff;
        background-color: #00629b !important;
    }
}



@media(max-width: 768px) {
            /*FOOTER*/
    /*=======================*/
    footer {
        /*padding-top: 0 !important;*/
    }

    .footer-on-tablet {
        display: none;
    }
    .footer-hidden {
        display: hidden;
    }
    .about{
        font-size: 25px !important;
        font-weight: 400 !important;
        text-align: center;
        width: 100%;
    }
    .searches {
        font-size: 25px !important;
        font-weight: 400 !important;
    }
    .footer-text {
        margin: auto 20px 20px;
    }

    .about-div {
        width: 100% !important;
        text-align: center;
        /*margin: auto 20px;*/
    }
    .locate-div {
        width: 100% !important;
        text-align: center;
        margin-bottom: 20px;
    }

    .locate {
        margin-bottom: 15px;
    }
    .search-div {
        display: none;
    }
    /*.mapouter{
        position:relative;
        height: 300px;
        width: 100%;
    }*/

    .gmap_canvas{
        position:relative;
        height: 250px;
        width: 100%;
    }

    iframe {
        height: 100%;
        width: 100%;
    }


    /*========================*/
}

/*==================================================================*/

/*CLOSE BUTTON*/
/*================================*/
.navbar-icon .close {
    display: none;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 0.25rem;
    background-color: transparent;
    margin-right: 0;
    color: #fff;
    margin-right: 4px !important;
}

.navbar-icon .close:hover {
    color: #fff;
}

/*================================*/